/* General Reset to remove scrollbars */
html, body {
  height: 100%;
  overflow: hidden; 
  background-color:#2a2a2a 
}

/* Home page styles */
.home {
  text-align: center;
  padding: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 990px; /* Ensure the home page takes full height */
  background-color: rgba(0, 0, 0, 0.5); /* Apply the same background to the home page */
  color: white; /* Ensure the text is visible against the dark background */
}

/* Video Styling */
.responsive-video {
  width: 1000px;
  height: auto;
  border-radius: 10px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}

.video-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Fullscreen Button Styling */
.fullscreen-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fullscreen-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

/* Play icon styling */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.video-container:hover .play-icon {
  color: rgba(255, 255, 255, 1);
}
